.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer__links {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 520px) {
  .footer__links {
    flex-direction: column;
  }
}
