.cover__overlay {
  /* width: 100%; */
  min-height: 62.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(42, 44, 47, .3);
  transition: .3s;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (min-width: 1184px) {
  .cover__overlay {
    min-height: 740px;
  }
}
